body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  object-fit: contain;
  height: auto;
}
.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}

.header {
}

.navigation {
  align-items: center;
}
.logo {
  gap: 16px;
  align-items: center;
}
.logo-class {
  margin-right: 237px;
}

.product-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.nav-list {
  gap: 30px;
}
.nav-list-item {
}
.nav-list-link {
  padding: 26px 0;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.active-page {
  font-weight: 600;
}

.list-button {
  gap: 21px;
  margin-left: auto;
  align-items: center;
}
.list-button-item {
}
.list-button-cta-in {
  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.list-button-cta-up {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
}

.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}

.hero-description {
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}
.hero-title-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  margin-bottom: 45px;
}
.hero-list-button {
  gap: 30px;
}
.haro-list-item {
}
.hero-list-cta-get {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.hero-list-cta-watch {
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  width: 164px;
  height: 23px;
  background: transparent;
  justify-content: space-between;
}

.advantages {
  padding-top: 50px;
}

.advantages-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
}

.advantages-list {
}
